@color-green: #2fd357;
@color-blue: #1d4cff;
@color-red: #ef3f3b;
@color-grey: #f3f3f3;
@color-darkgrey: #959595;

.green {
  background-color: #2fd357;
}

.red {
  background-color: #ef3f3b;
}

.blue {
  background-color: #1d4cff;
}

.grey {
  background-color: #f3f3f3;
}

.dark-grey {
  background-color: #959595;
}

.text-green {
  color: #2fd357;
}

.text-red {
  color: #ef3f3b;
}

.text-blue {
  color: #1d4cff;
}

.text-grey {
  color: #a9a9a9;
}
