.header {
  height: 85px;
  width: 100%;
  background-color: #fff;
}

.navbar {
 padding: 0px;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.nav_wrapper {
  width: 100%;
  padding: 10px 0 0 20px;
  margin: 0;

  .aux {

    i {
      font-size: 26px;
      position: relative;
      top: 2px;
      right: 0;
      margin-right: 10px;
      color: #959595;
      padding-right: 15px;
    }
  }
}

.branding {
  padding-left: 0px;
}

.nav_wrapper h2 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: -8px;
}

.branding p {
  font-size: 12px;
  font-weight: 600;
  color: #8c8c8c;
  padding: 5px 0 0 27px;
}

.account {
  text-align: right;
  margin-right: 30px;

  h2 {
    text-transform: none;
  }
}

span {
  font-size: 12px;
  font-weight: 600;
  color: #8c8c8c;
}

.aux {
  text-align: right;
}

#search {
  background-color: #e9ecef;
  border: none;
  border-radius: 5px;
  padding: 25px;
}
