.header {
  height: 85px;
  width: 100%;
  background-color: #fff;
}

.nav_wrapper {
  width: 100%;
  padding: 30px;
}

.branding {
  padding-left: 30px;

  h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
  }

  span {
    font-size: 12px;
    font-weight: 600;
    color: #8c8c8c;
  }
}

.account {
  text-align: right;

  h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
  }

  span {
    font-size: 12px;
    font-weight: 600;
    color: #8c8c8c;
  }
}

.aux {
  text-align: right;
}