.sidebar {
  float: left;
  max-width: 320px;
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: #f9f9f9;
  padding: 30px 15px 30px 15px;
  display: block;
  margin-top: -30px;

  h2 {
    margin-bottom: 15px;
    font-size: 14px;
  }

  ul {
    list-style-type: none;
    margin-left: -28px;
    padding-left: 0px;
    width: 300px;
    margin-bottom: 50px;

    li {
      list-style-type: none;
      padding: 10px 0 10px 30px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      margin-bottom: 10px;
      margin-left: -2px;
      font-size: 17px;

      i {
        font-size: 24px;
        position: relative;
        top: 2px;
        right: 0px;
        margin-right: 10px;
      }
    }

    li.active {
      background-color: #1d4cff;
      color: #fff;
      -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
      -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
      box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    }

    li:hover {
      background-color: #959595;
      color: #fff;
      cursor: pointer;
      -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
      -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
      box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    }

    li.active:hover {
      background-color: #1739bb;
    }
  }

}


/*
@media (min-width: 1200px) {
.container {
  max-width: 1270px;
}
}

.col-md-2 {
  max-width: 100% !important;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 6px;
  padding-left: 6px;
}
*/
