.sidebar {
  float: left;
  max-width: 320px;
  width: 100%;
  min-height: 1500px;
  height: 100%;
  background-color: #f9f9f9;
  padding: 30px 15px 30px 15px;
  display: block;

  ul {
    min-width: 200px;
  }
}