body {
    background-color: #fff;
}

.main {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 56px;
    background-color: #f9f9f9;
}

.hidden {
    display: none;
}

.bodyContent {
    margin: 0 auto;
    text-align: center;
    display: grid;
    background-color: #fff !important;
    min-height: 819px;
}

.dapp_category_header h2 {
    margin-bottom: 0px;
    text-align: left;
    font-size: 35px;
    font-weight: 300;
}

.dapp_category_header h4 {
    margin-bottom: 0px;
    text-align: left;
    font-weight: 200;
    font-size: 14px;
    padding-top: 4px;
    color: #9c9c9c;
}

.dApp_row {
    margin-bottom: 30px;
    margin-top: 30px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}

.dappNavigation {
    margin-bottom: 40px;
    margin-top: 20px;

    ul {
        text-align: left;
        list-style-type: none;
        margin-left: -50px;

        li {
            list-style-type: none;
            display: inline-block;
            padding: 5px 30px 5px 30px;
            color: #8c8c8c;
            cursor: pointer;
        }

        li.active {
            background-color: #1d4cff;
            border-radius: 30px;
            padding: 5px 30px 5px 30px;
            color: #fff;
        }

        li.active:hover {
            background-color: #1739bb;
        }
    }
}



.dappModuleWrapper {

    border: 0px;

    .dappImageWrapper {
        border-radius: 5px;
        width: 240px;
        height: 180px;
        background-color: #f7f7f7;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .dappImageWrapper:hover {
        opacity: 0.4;
        transition: .4s ease all;
    }

    .dappBody {
        text-align: left;
        padding-left: 0px;
    }

    .hydroAmountText {
        color: #006cf8;
    }

    .dappName {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 3px;
    }

    .dappCategory {
        font-size: 12px;
        font-weight: 200;
    }

    .dappRatings {

    }

    .dappButtonGroup {
        margin-top: 15px;
    }

    .dapp_purchase_type_info {

    }

}
